# Node modules
node_modules/

# macOS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Android
android/.gradle
android/app/build/
android/.idea/


# iOS
ios/Pods/
ios/*.xcodeproj/*
ios/*.xcworkspace/
ios/*.xcodeproj/project.xcworkspace/



# Environment files
.env
.env.local
.env.*.local



# Lock files
package-lock.json*
yarn.lock




# IDE files
*.iml
.idea/
.vscode/

